@model IEnumerable<OnlineEcommerceShop.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Product List</h1>

<p>
    <a asp-action="Create">Add New Product</a>
</p>
<div class="col-10">
    <div class="d-flex justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductColour)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsAvailable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductTypeId)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductColour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAvailable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductTypes.ProductType)
                        </td>
                        <td>
                            <partial name="_ButtonPartial" model="@item.Id">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
